<!-- Data Binding -->
<!-- <div>
  <h1>This is {{ title }}</h1>

  <button [disabled]="isDisable">{{ myBTN }}</button>
  <br />

  <img [src]="angularImage" width="100" height="100" [alt]="angularImageAlt" />

  <div [style.backgroundColor]="bgColor">
    <h1 [style.color]="titleColor">Title</h1>
    <p [style]="description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos officiis
      aspernatur praesentium tempore dignissimos laboriosam doloremque dolores
      nam quidem ullam et dolore, nemo quod, repudiandae facere neque nobis
      earum libero.
    </p>
    <h2 [class.textColor]="redText == 'abcd'">class Title</h2>
    <h3 [class]="redText == 'abcdq' ? 'textColor' : 'textColor2'">tt</h3>
  </div>
</div> -->

<!-- Functions -->
<!-- <div>
  <h1>Functions</h1>
  <button (click)="incrementCounter()">Increment</button>
  <button (click)="decrementCounter()">Decrement</button>
  <p>Counter: {{ counter }}</p>
</div> -->

<!-- Two way Data Binding -->
<!-- <div>
  <h1>Two way data binding</h1>
  <input [(ngModel)]="inputText" type="text" />
  <p>Input text{{ inputText }}</p>
</div> -->

<!-- Classes and styles -->
<!-- <div>
  <h1>Classe and styles</h1>
  <div>
    <p [ngClass]="classes">{{ message }}</p>
  </div>
  <div>
    <div class="box" [ngStyle]="{ 'background-color': selectedColor }">Box</div>
  </div>
</div> -->

<!-- Structure Directives ｜ ngIf ngFor and ngSwitch -->
<!-- ngIf -->
<!-- <div>
  <div *ngIf="isLoggedIn">Welcome, Dilakshan</div>
  <div *ngIf="!isLoggedIn">Please Login</div>

  <div *ngIf="isLoggedIn || check">Validation successful</div>

  <div *ngIf="isLoggedIn; else loggedOUt">Welcome back, Dilakshan</div>
  <ng-template #loggedOUt>You are loggedOut</ng-template>
</div> -->

<!-- ngFor -->
<!-- <div>
  <ul>
    <li *ngFor="let name of nameArray; let i = index">{{ i }} {{ name }}</li>
  </ul>
</div> -->

<!-- ngSwitch -->
<!-- <div [ngSwitch]="grade">
  <p *ngSwitchCase="'A'">Excellent</p>
  <p *ngSwitchCase="'B'">Good</p>
  <p *ngSwitchCase="'C'">Bad</p>
  <p *ngSwitchDefault>Unknown</p>
</div> -->

<!-- Control flow | @If @for @switch -->
<!-- @if -->
<!-- <div>
  @if(a>b){
  <p>{{ a }} is greater than {{ b }}</p>
  } @else if (b > a) {
  <p>{{ a }}is less than {{ b }}</p>
  } @else {
  <p>{{ a }}is equal to {{ b }}</p>
  }
</div> -->

<!-- @for | $index, $count, $first, $last, $even, $odd -->
<!-- <div>
  <ul>
    @for (item of items; track item.id; ) {
    <li>{{ item.name }}</li>
    }
  </ul>
</div> -->

<!-- @switch -->
<!-- <div>
  @switch (grade) { @case ('A') {
  <p>Excellent</p>
  } @case ('B') {
  <p>Good</p>
  } @case ('C') {
  <p>Bad</p>
  } @default {
  <p>Unknown</p>
  } }
</div> -->

<!-- Pipes | Built-in pipes and custom pipes -->
<!-- Built-in pipes -->
<!-- <h1>Pipes</h1>
<div>
  <h2>Built-in pipes</h2>
  <div>
    <h3>Text pipes</h3>
    <p>lowercase: {{ pipeText | lowercase }}</p>
    <p>uppercase: {{ pipeText | uppercase }}</p>
  </div>

  <div>
    <h2>Date pipes</h2>
    <p>Today is {{ today }}. in milliseconds</p>
    <p>Today is {{ today | date }}. in date</p>
    <p>Today is {{ today | date : "fullDate" }}. in fullDate</p>
    <p>Today is {{ today | date : "short" }}. in short</p>
    <p>Today is {{ today | date : "medium" }}. in medium</p>
    <p>Today is {{ today | date : "long" }}. in long</p>
    <p>Today is {{ today | date : "full" }}. in full</p>
    <p>Today is {{ today | date : "h:mm:s" }}. in format(h:mm:s)</p>
  </div>

  <div>
    <h2>Currency pipes</h2>
    <p>Currency: {{ currency | currency }} in default (USD)</p>
    <p>
      Currency: {{ currency | currency : "EUR" : "symbol" : "1.1-4" }} in Europe
    </p>
  </div>

  <div>
    <h2>Percent pipes</h2>
    <p>{{ currency | percent }}</p>
  </div>
</div>

<div>
  <h2>Built-in pipes</h2>
  <div>
    <p>{{ pipeText | append : "Test" }}</p>
  </div>
</div> -->

<!-- Dependency Injection and Services for API Calls with HttpClient -->
<!-- <h1>Dependency Injection and Services for API Calls with HttpClient</h1>
<div>
  <p>{{ data }}</p>
</div>

<div>
  <h2 style="font-size: 40px">Posts</h2>
  <div *ngFor="let post of posts">
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
  </div>
</div> -->
